.Login{
    margin-top: 5%;
    text-align: center;
}
.welcomeComponent{
    margin-top: 5%;
    text-align: center;
}
.ListTodosComponent{
    margin-top: 5%;
    text-align: center;
}
.header{
    margin-top: 5%;
    text-align: center;
}
footer{
    bottom: 0;
     position: absolute; /* //so always remain at bottom */
     width: 90%;
     height: 40px;
}
.loggedout{
    margin-top: 5%;
    text-align: center;
}
.todoComponent{
    margin-top: 5%;
    text-align: center;
}